@charset "utf-8";

section#conteudo {
	width: 100%;
	margin: auto;
}

iframe#frame-spec {
	width: 45%;
	height: 45%;
	border: none;
	overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
	display: none;
}

section#conteudo img {
	width: 54%;
}